/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */
form {border: 3px solid black;
  padding: 1%;

} 
.sample{
  align-content: right;
  place-content: right;

}
.container{
  padding: 2%;
}
h1{
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  align-self: center;
}