<!DOCTYPE html>
<html>
  <head>
    <title>Blood Donor Chain</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <center>
    <!-- Sample Registration Form -->
    <form action="setDonor" method="POST" >
      <input type="text" name ="donorno" placeholder="Donor ID No: "/><br><br>
      <input type="text" name ="donorName" placeholder="Name "/><br><br>
      <input type="text" name ="age" placeholder="Age "/><br><br>
      <input type="radio" name="gender" value="0"/>Male
      <input type="radio" name="gender" value="1"/>Female
      <input type="radio" name="gender" value="2"/>Other
      <br><br>
      Blood Group: <select name="bloodGroup" >
        <option value="0">A+ve</option>
        <option value="1">A-ve</option>
        <option value="2">B+ve</option>
        <option value="3">B-ve</option>
        <option value="4">O+ve</option>
        <option value="5">O-ve</option>
        <option value="6">AB+ve</option>
        <option value="7">AB-ve</option>
      </select>
      <br><br>
      <label for="location">Location</label>
      <input type="text" name="location" placeholder="Location"/>
      <br><br>
      <label for="mobno">Mobile</label>
      <input type="tel" name="mobno" placeholder="Mobile"/>
      <br><br>
      Medical Conditions:
      <input type="checkbox" name="mCondition1" value="true" />Conditon1 <br>
      <input type="checkbox" name="mCondition2" value="true"/>Conditon2 <br>
      <input type="checkbox" name="mCondition3" value="true"/>Conditon3 <br>
      <input type="checkbox" name="mCondition4" value="true"/>Conditon4 <br>
      <input type="checkbox" name="mCondition5" value="true"/>Conditon5 <br>
      <button type="submit" value="submit">Submit</button>     
    </form>
    </center>
    <!-- To searchand fetch samples via donor id -->
    <form action="getSample" method="POST">
    <label for="search">Search</label>
    <input type="text" name ="search" />
    <button type="submit" value="submit">Search</button>
    </form>
  </body>
</html>